#Website keys
resources/config.php

# Python
__pycache__/
*.pyc

# Local Python environment
local_dev/.venv/

#ignore node modules
**/node_modules/

#ignore all MacOS .DS_Store
**/.DS_Store

#ignore NAS directory
resources/media

#ignore zip files
**/*.zip